
$crimson: #b32c50;
$darkseagreen  : #7da87b;
$lightgray: #f2f2f2;
$darkpurple: #34374c;
$beige: #fff9d6;

$primary-color: $crimson;
$accent-color: $darkseagreen;
$background-color: $lightgray;
$dark-color: $darkpurple;
$highlight-color: $beige;
