{% extends 'collections/chemicalweapons.html' %}

{% block extraheadjs %}
{% endblock %}

{% block titlecontainer %}
  <div class="container title {% if image %}imaged{% endif %}" style="{% if image %}background-image:url({{image}}){% endif %}">
    <div class="columns">
      <div class="col-12">
        {% block title %}
        <h1>{{ title }} <i class="fa fa-bars menu-button" id="menuButton"></i></h1>
        <div class="desc">
            {{desc}}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
  {% include 'collections/includes/collectionsheader.html' %}

{% endblock %}

  {% block content %}

  {% endblock %}
